<div class = 'header-block'>
<h2 id = 'header-title'>Welcome to the CMS MA Data Visualizer</h2>
<p id = 'header-info'>
Navigating the CMS website to find Medicare Advantage (MA) operational data can be challenging and time consuming. The goal of this resource
is to actively listen to the CMS website, and upon updates, pull in the most up-to-date data on enrollment and quality to this web application.
The end result? An efficient, one-stop shop to analyze and export CMS MA data easily.
</p>
</div>