<div class = 'header-block'>
<div id = 'home-header'>
<h2>Welcome to CMS MA Data Visualizer</h2>
</div>
<p id = 'home-info'>
Navigating the CMS website to find Medicare Advantage (MA) operational data can be challenging and time consuming. The goal of this resource
is to actively listen to the CMS website, and upon updates, pull in the most up-to-date data on enrollment and quality to this web application.
The end result? An efficient, one-stop shop, to analyze and export CMS MA data easily.
</p>
</div>